---
import colorData from "../data/colors.json";
---

<section class="colorGrid">
  {
    colorData.map((color) => (
      <a
        class={`colorGrid__item ${color.theme} ${color.group}`}
        style={`background-color: ${color.name};`}
        data-filter={`${color.group}`.toLowerCase()}
        href={`/${color.name}`.toLowerCase()}
      >
        <span class="colors__name">{color.name}</span>
      </a>
    ))
  }
</section>

<style lang="scss">
  .colorGrid {
    @media (min-width: 600px) {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
  }

  .colorGrid__item {
    // padding: var(--space-xl);
    aspect-ratio: 4;
    min-height: 10rem;
    display: inline-block;
    text-decoration: none;
    display: grid;
    place-content: center;
    transition: 0.2s all ease-in-out;
    text-align: center;

    @media (min-width: 800px) {
      aspect-ratio: 1/1;
      display: grid;
      align-self: stretch;
      padding: 0;
    }

    &:hover,
    &:focus {
      span {
        opacity: 1;
      }
    }

    &.hide {
      display: none;
    }

    &.show {
      display: grid;
    }

    &.dark {
      color: white;
    }

    &.light {
      color: #111111;
    }

    span {
      transition: 0.25s all ease-in-out;
      opacity: 1;

      @media (min-width: 800px) {
        opacity: 0;
      }
    }
  }
</style>
