---
import colorData from "../data/colors.json";

// const groupsArray = colorData.map((colorObject) => colorObject.group);
// const uniqueGroupsArray = [...new Set(groupsArray)];

let colorsObject = {}

colorData.forEach(color => {
  let colorGroup = color.group
  
  if (colorsObject[colorGroup]) {
      let count = colorsObject[colorGroup].count
      colorsObject[colorGroup].count++
  } else {
      colorsObject[colorGroup] = {
          name: colorGroup,
          count: 1
       
      }
  }
})

const uniqueGroupsArray = Object.values(colorsObject);
---

<div class="filtering">
  <h2 class="filtering__title">Filter colors:</h2>
  <ul class="filteringList noList flow">
    <li class="filteringList__item">
      <button class="filter active" data-filter="all">
        All
        <span>{ colorData.length }</span>
      </button>
    </li>

    {
      uniqueGroupsArray.map((color) => (
        <li class="filteringList__item">
          <button class="filter" data-filter={color.name}>
            {color.name.toUpperCase()}
            <span>{color.count}</span>
          </button>
        </li>
      ))
    }
  </ul>
</div>

<script>
  const filters = document.querySelectorAll(".filter");

  filters.forEach((filter) => {
    filter.addEventListener("click", function () {
      let selectedFilter = filter.getAttribute("data-filter");
      let itemsToHide = document.querySelectorAll(
        `.colorGrid__item:not([data-filter='${selectedFilter}'])`
      );
      let itemsToShow = document.querySelectorAll(
        `.colorGrid [data-filter='${selectedFilter}']`
      );

      filters.forEach((filter) => {
        filter.classList.remove("active");
      });

      this.classList.add("active");

      if (selectedFilter == "all") {
        itemsToHide = [];
        itemsToShow = document.querySelectorAll(".colorGrid__item");
      }

      itemsToHide.forEach((el) => {
        el.classList.add("hide");
        el.classList.remove("show");
      });

      itemsToShow.forEach((el) => {
        el.classList.remove("hide");
        el.classList.add("show");
      });
    });
  });
</script>

<style lang="scss">
  h2 {
    font-size: var(--step-0);
    font-weight: normal;
    font-style: italic;
  }

  .filtering {
    --flow-space: 0.5em;

    @media (min-width: 800px) {
      margin-bottom: var(--space-s);
    }
  }

  .filter {
    background-color: var(--surface3);
    padding: var(--space-2xs);
    width: 100%;
    border: none;
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    position: relative;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 0.9em;
    position: relative;

    span  {
      opacity: .5;
    }

    &:hover,
    &:focus {
      background-color: rgba(255, 255, 255, 0.3);
    }
    &:hover {
      cursor: pointer;
    }
    &.active {
      background-color: rgba(255, 255, 255, 0.2);
    }

    &:before {
      content: "";
      height: 50%;
      width: 10%;
      aspect-ratio: 1;
      background-color: white;
    }

    &[data-filter="all"]:before {
      background-image: url(../147swatches.svg);
      background-size: 100% 100%;
    }
    &[data-filter="pink"]:before {
      background-color: pink;
    }
    &[data-filter="red"]:before {
      background-color: red;
    }
    &[data-filter="orange"]:before {
      background-color: orange;
    }
    &[data-filter="yellow"]:before {
      background-color: yellow;
    }
    &[data-filter="brown"]:before {
      background-color: brown;
    }
    &[data-filter="green"]:before {
      background-color: green;
    }
    &[data-filter="cyan"]:before {
      background-color: cyan;
    }
    &[data-filter="blue"]:before {
      background-color: blue;
    }
    &[data-filter="purple"]:before {
      background-color: purple;
    }
    &[data-filter="gray"]:before {
      background-color: gray;
    }
  }
</style>
